# See http://help.github.com/ignore-files/ for more about ignoring files.
# compiled output
/dist
/tmp
/lib

# dependencies
/node_modules

# othres
package-lock.json

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
yarn.lock
.history
.vscode/
.gitmodules
.DS_Store
